@media only screen and (min-width: 180px) and (max-width: 1025px) {

    *,*::before,*::after{ padding: 0;  margin: 0;  box-sizing: border-box; user-select: none}
    p,h1,h2,h3,h4,ul,li,a {list-style: none; text-decoration: none;  }

    .footer,
    .footer__content,
    .footer__content-info,
    .footer__block,
    .footer__ul,
    .footer__li,
    .footer__link,
    .footer__link-create

    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        display: grid;
        position: relative;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
        z-index: -100;
    }

    .footer{
        position: absolute;
        top: 240vh;
        width: 99.9vw;
        height: 50vh;
        overflow: hidden;
        background-color: rgba(128,128,128,1);
        z-index: 100;
    }

    .footer__content{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        width: 99.9vw;
        height: 50vh;
    }

    .footer__content-info{
        width: 99.9vw;
        height: 8vh;
        font-size: 2vh;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: rgba(255,255,255,1);
        transition: all 0.5s linear;
        bottom: 2.5vh;
    }

    .footer__content-info:hover{
        color: orange;
        transition: all 0.5s linear;
    }

    .footer__block{
        width: 99.9vw;
        height: 25vh;
        bottom: 5vh;
    }

    .footer__ul{
        width: 99.9vw;
        height: 21vh;
        grid-template-rows: repeat(5,1fr);
    }

    .footer__li{
        width: 99.9vw;
        height: 4vh;
        font-size: 2vh;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: rgba(255,255,255,1);
        transition: all 0.5s linear;
    }

    .footer__link{
        width: 99.9vw;
        height: 4vh;
        font-size: 2vh;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: rgba(255,255,255,1);
        transition: all 0.5s linear;
    }

    .footer__link:hover{
        color: orange;
        transition: all 0.5s linear;
    }

    .footer__link-create{
        width: 99.9vw;
        height: 8vh;
        bottom: 2.5vh;
        font-size: 2vh;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: rgba(255,255,255,1);
        transition: all 0.5s linear;
    }

    .footer__link-create:hover{
        color: orange;
        transition: all 0.5s linear;
    }


}